<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h5>Create new Password: </h5>
            <form action="#" class="my-3 bg-warning p-3 ">
                <label for="password" class="form-label">Enter a new Password</label>
                <input type="password" name="pass" id="pass" class="form-control mb-3">
                <label for="password" class="form-label">Conform a new Password</label>
                <input type="password" name="pass" id="pass" class="form-control mb-3">
                <button class="btn btn-primary mx-2 my-2">Create Password</button>
                <button class="btn btn-secondary mx-2 my-2 " (click)="OnChildToParent()">Redirect to Login Form
                </button>
                <div *ngIf="receivedUserData" class="mt-2">
                    <p>Good-Password: {{ receivedUserData.pass }}</p>
                </div>
            </form>
        </div>
       
    <div class="col-6">
            <app-new-password (userDataEvent)="receiveUserData1($event)"></app-new-password>
        </div>
    </div>
</div>