<h5>Template Driven Approach</h5>
<form class="hello p-4" (ngSubmit)="OnSubmit(f)" #f="ngForm">
    <div class="mb-3">
        <label for="username" class="form-label  ">Username: </label>
        <input type="text" class="form-control" id="username" ngModel name="username" required>

    </div>
    <div class="mb-3">
        <label for="email" class="form-label ">Email: </label>
        <input type="email" class="form-control" id="email" ngModel name="email" required email #email="ngModel">
        <span *ngIf="!email.valid && email.touched">Please enter a valid email</span>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Cover Letter: </label>
        <textarea class="form-control" id="textarea" rows="3" [(ngModel)]="coverLetter"
            [ngModelOptions]="{standalone: true}"></textarea>
        <span>Your Cover Letter: {{coverLetter}} </span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
<br>
<h5>Reactive Approach</h5>
<form class="world p-4" [formGroup]="newForm" (ngSubmit)="OnSubmitForm()">
    <div formGroupName="userData">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="Username" id="name" name="name">
            <span *ngIf="!newForm.get('userData.Username')?.valid && newForm.get('userData.UserName')?.touched">Please
                Enter a Valid
                UserName</span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" formControlName="email" id="email" name="email">
            <span *ngIf="!newForm.get('userData.email')?.valid && newForm.get('userData.email')?.touched">
                Please Enter a Valid Email</span>
        </div>
        <div class="mb-3" formArrayName="hobbies">
            <button class="btn btn-primary" (click)="ViewHobbyInput()">Add Hobbies</button>
            
            <div class="form-group" *ngFor="let hobbyControls of newForm.get('hobbies').controls; let i = index">
                <input type="text" class="form-control" [formControlName]="i">
            </div>

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>