<div class="container">
  <!-- Oct03 -->
  <input type="text" class="form-control" [(ngModel)]="name">
  <p>My name is {{name}}</p>
  <hr>
  <h6>Assignment-</h6>
  <div class="app-success-alert"></div>
  <div class="app-warning-alert"></div>
  <hr>
  <p>{{topic1}} - Completed!</p>
  <input type="button" [value]="topic2" class="btn btn-primary"><span> - Completed!</span>
  <br>
  <button class="btn btn-primary mt-2" [disabled]="!disable">After 5 seconds the Buttom will disabled</button>
  <br>
  <br>
  <label>Email:</label>
  <input type="email" class="form-control" id="email" placeholder="Enter email" (input)="getEmail($event)">
  <p>Your email is {{email}}</p>

  <button class="btn btn-primary mt-2 " (click)="clickAbuttton()">Event Binding</button>
  <p>{{text}}</p>
  <br>

  <label>Email:</label>
  <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="fullname">
  <p>{{fullname}}</p>
  <hr>
  <h6>Assignment-2</h6>
  <br>
  <label>Username:</label>
  <!-- Two-Way-Binding -->
  <input type="text" class="form-control mt-1" [(ngModel)]="username">
  <!-- String Interpolation -->
  <p>{{username}}</p>
  <button class="btn btn-primary" [disabled]="username === ''" (click)="reset()">Button</button>
  <hr>
  <!-- Oct03 -->
  <!-- Oct04 -->
  <!-- Directive -->
  <!-- *ngIf(If) adn Else -->
  <input type="text" class="form-control" id="text" placeholder="Enter Full name" [(ngModel)]="Name">
  <button class="btn btn-primary mt-2 " (click)="ButtonClick()">Show Name</button>
  <p *ngIf="fname ; else enterName">Hello {{Name}} Welcome to {{title}} </p>
  <ng-template #enterName>
    <p>Please Enter a your Full name?</p>
  </ng-template>
  <br>
  <!-- ngStyle and ngClass -->
  <p>Student: Hi,I'm {{childrenName}} and I'm {{childrenAge}} year Old {{note}}</p>
  <p [ngStyle]="{color:getColor()}" [ngClass]="{allow: note1 === 'Go and Watch Porn Videos'}">Teacher: {{note1}} Because
    Your are {{childrenAge}} year old</p>
  <br>
  <div *ngFor="let item of names">{{item}}</div>
  <hr>
  <h6>Assignment-3</h6>
  <br>
  <button class="btn btn-primary" (click)="BirdBtn()">Display Details</button>
  <p *ngIf="paravai" [(ngModel)]="bird" [ngStyle]="{color: getBirdColor()}" [ngClass]="{allowBird: bird === 'Peacock'}">
    National Bird {{bird}}
  </p>
  <div *ngFor="let items of birds" [ngStyle]="{backgroundColor: items>=5 ?'blue': 'transparent'}"
    [ngClass]="{itemsColor: items >= 5 }">{{items}}</div>
  <hr>
  <!-- Oct04 -->


</div>
<div class="container">


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact: true}'>
          <a class="nav-link" [routerLink]="['loginForm']">LoginForm</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['successform']">SignForm</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
  <app-forms></app-forms>
</div>



