
      <h5>Login: </h5>

      <form action="#" class="my-3 bg-warning p-3">
        <label for="name" class="form-label">UserName: </label>
        <input type="text" class="form-control mb-3" [(ngModel)]="username1" [ngModelOptions]="{standalone: true}">

        <label for="email" class="form-label">Email: </label>
        <input type="email" class="form-control mb-3" [(ngModel)]="useremail1" [ngModelOptions]="{standalone: true}">

        <div class="d-flex justify-content-between" style="line-height: 2;">
          <div><button class="btn btn-success mx-2" (click)="formSubmit()" type="submit">Login</button> <button class="btn btn-success mx-2"
              type="submit" (click)="OnNavigate()" >P-C</button></div>


          <div><a href="#" class="text-decoration-none text-dark"
              [routerLink]="['/forgot-password', 404]"><span>Forgot Password?</span></a></div>
        </div>
        <div class="mt-4 text-center">
          <p>Create a new Account- <a [routerLink]="['/successform' ,200, 'createaccount' ]"
              class="text-decoration-none text-dark fw-bold"  [queryParams]="{allowUserToCreateAccount: '200'}" [fragment]="'loading'">SignIn?</a> </p>
        </div>

      </form>

    <div class="col-lg-6 col-md-12" *ngIf="nameEmail" >
      <!-- <h6>Weclcome {{username}}</h6>
      <button (click)="emilShow()" class="btn btn-warning">Click To Show Email</button>
      <p *ngIf="email"> {{username}}, this is your EMAIL: {{useremail}}</p> -->
      <app-loginform-content [username1]="username1" [useremail1]="useremail1"></app-loginform-content>

    </div>
 