
            <h5>SignIn: </h5>
            <form action="#" class="my-3 bg-warning p-3" >
                <label for="name" class="form-label">UserName: </label>
                <input type="text" class="form-control mb-3">
                <label for="name" class="form-label">Password: </label>
                <input type="password" class="form-control mb-3">
                <label for="name" class="form-label">Conform Password: </label>
                <input type="password" class="form-control mb-3">
                <button class="btn btn-primary mx-2 my-2">SignIn</button>
                <button class="btn btn-danger mx-2 my-2" (click)="toNavigate1()">Redirect to Login Form</button>
               
            </form>
    
