<div class="container">
    <div class="row">
        <div class="col-12">
        <div>
            <h5>Login Data:</h5>
            <p>Username: {{username1}}</p>
            <p>Email: {{useremail1}} </p>
            
            <button class="btn btn-primary" (click)="OnChildToParent()">C-P</button>
        </div>
        </div>
    </div>
</div>
