<div class="container">
    <div class="row">
        <div class="col12 ">
            <h5>Password: </h5>
            <label for="password" class="form-label">New Password Suggestion:</label>
            <input type="text" name="pass" id="pass" class="form-control mb-3" [(ngModel)]="pass">
            <button type="button" class="btn btn-primary" (click)="passData()">Click to pass Password Data </button>
        </div>
    </div>
</div>